

.about-section{
    margin: 180px 10%;
}
.about-header{
    text-align: center;
}
.about-header p{
    font-size: 20px;
    margin: 0;
}
.about-header h1{
    font-size: 35px;
    margin-bottom: 0;
}
.about-header hr {
    border: none;
    border-top: 3px solid red;
    margin-bottom: 50px;
    width: 50%;
}

.about-mains{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
}
.about-main{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.about-single{
    color: #7F7F7F;
}
.about-single img{
    width: 80px;
}
.about-single-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.about-single-header {
    text-transform: uppercase;
    font-size: 14px;
}
.about-single-details{
    text-align: end;
}

.about-mid img{
    width: 120%;
}