

.about-section{
    margin: 180px 10%;
}
.about-header{
    text-align: center;
}
.about-header p{
    font-size: 20px;
    margin: 0;
}
.about-header h1{
    font-size: 35px;
    margin-bottom: 0;
}
.about-header hr {
    border: none;
    border-top: 3px solid red;
    margin-bottom: 50px;
    width: 50%;
}

.about-mains{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 70px;
}
.about-main{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.about-single{
    color: #7F7F7F;
}
.about-single img{
    width: 80px;
}
.about-single-header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.about-single-header {
    text-transform: uppercase;
    font-size: 14px;
}
.about-single-details{
    text-align: end;
}

.about-mid img{
    width: 120%;
}



/*--------------------------------------------------------------------------
For mobile:  
---------------------------------------------------------------------------*/
@media only screen and (max-width:480px){
    .about-section{
        margin: 180px 15px;
    }
    .about-mains{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
    }
    .about-single-header{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 10px;
    }
    .about-single-header h2{
        font-size: 18px;
    }
    .about-single-details{
        text-align: justify;
    }
    .about-mid img{
        display: none;
    }
}

/*--------------------------------------------------- 
For ipads, tablet:  
---------------------------------------------------*/
@media only screen and (min-width:481px) and (max-width:768px) {}

/*-----------------------------------------
 For Small screen, laptop:  
-----------------------------------------*/
@media only screen and (min-width:769px) and (max-width:1024px) {}
