

.agree-div{
    display: flex !important;
    flex-direction: row !important;
    justify-content: flex-start !important;
    text-align: left;
    width: 100%;
    position: relative;
}
.agree-div input{
    width: 20px !important;
    display: inline-block;
    position: absolute;
    margin-left:11% ;
}
.agree-div p{
    text-align: left;
    margin-left: 18%;
}

.disabled-button{
    background: rgb(182, 177, 177) !important;
    cursor:no-drop !important;
}


/* --- deciding what to do for register button while loading --- */
.loader-small{
    padding-top: 7px;
}
.loading-state{
    background: rgba(15, 128, 203, 0.616) !important;
    cursor:no-drop !important;
}