
.service-header{
    text-align: center;
    margin-top: -10px;
}
.service-header h2{
    font-size: 28px;
    margin-bottom: 0;
}
.service-header h1{
    font-size: 40px;
    margin-top: 10px;
}
.service-header hr {
    border: none;
    border-top: 3px solid red;
    margin-bottom: 50px;
    width: 50%;
}

/* --- service card --- */
.service-details{
    width: 80%;
    margin: 70px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 30px;
}

.service-card{
    background: white;
    color: black;
    text-align: center;
    padding-bottom: 25px;
    position: relative;
}
.service-card img{
    width: 100%;
}
.card-details{
    padding: 10px 15px;
}
.service-card button {
    outline: none;
    border: none;
    padding: 5px 15px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    background: #DA1D25;
    color: white;
}
.service-img{
    position: relative;
}
.special-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    width: 85%;
    background: #0EACF5;
    padding: 5px 10px;
    font-weight: 500;
    /* font-size: calc(0.5vw + 0.5vh + 1vmin); */
}
.special-icons p{
    margin: 3% 4%;
}


/*--------------------------------------------------------------------------
For mobile:  
---------------------------------------------------------------------------*/
@media only screen and (max-width:480px){
    .service-details{
        width: 80%;
        margin: 70px auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
        column-gap: 30px;
    }
}

/*--------------------------------------------------- 
For ipads, tablet:  
---------------------------------------------------*/
@media only screen and (min-width:481px) and (max-width:768px) {
    .service-details{
        width: 80%;
        margin: 70px auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
        column-gap: 30px;
    }
}

/*-----------------------------------------
 For Small screen, laptop:  
-----------------------------------------*/
@media only screen and (min-width:769px) and (max-width:1024px) {
    .service-details{
        width: 90%;
        margin: 70px auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 30px;
    }
}
