.feature-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    text-align: center;
}

.feature-title h4 {
    font-size: 20px;
    margin: 0;
}

.feature-title h1 {
    font-size: 35px;
    margin-bottom: 0;
}

.feature-title hr {
    border: none;
    border-top: 3px solid red;
    margin-bottom: 50px;
    width: 100%;
}

.feature-details {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-content: center;
    text-align: center;
    position: relative;
}

.feature-single img {
    width: 80%;
}

.feature-single {
    position: relative;
    z-index: 100;
}

.feature-single-details {
    color: #7F7F7F;
    width: 60%;
    max-height: 60%;
    overflow: hidden;
    border: 1px solid #7f7f7f80;
    padding: 0 15px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -25%;
    background: black;
    overflow-y: auto;
}
.feature-single-details h2{
    font-size: calc(1vw + 1vh + 1vmin);
    text-transform: uppercase;
}
.feature-single-details p{
    font-size: calc(0.5vw + 0.5vh + 1vmin);
}

/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #0e0d0d;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }



/*--------------------------------------------------------------------------
For mobile:  
---------------------------------------------------------------------------*/
@media only screen and (max-width:480px){
    
    .feature-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 130px;
        text-align: center;
        position: relative;
    }
}

/*--------------------------------------------------- 
For ipads, tablet:  
---------------------------------------------------*/
@media only screen and (min-width:481px) and (max-width:768px) {
    .feature-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 130px;
        text-align: center;
        position: relative;
    }
}

/*-----------------------------------------
 For Small screen, laptop:  
-----------------------------------------*/
@media only screen and (min-width:769px) and (max-width:1024px) {
    .feature-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 130px;
        text-align: center;
        position: relative;
    }
}
