
.trainer-div{
    margin: 150px auto;
    background: white;
    color: black;
    padding: 120px 10%;
}

.trainer-header{
    text-align: center;
}
.trainer-header hr {
    border: none;
    border-top: 3px solid #0EACF5;
    margin-bottom: 50px;
    width: 50%;
}


/* --- trainer card section --- */
.trainer-details{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.trainer-pic img{
    width:300px
}
.trainer-info{
    background: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: -10px;
}
.trainer-info h3{
    font-size: 20px;
    margin: 0;
    text-transform: uppercase;
}
.trainer-info p{
    margin: 5px 0;
}