.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* common css */

.feature-title hr, .login-div hr  {
  border: none;
  border-top: 3px solid red;
  margin-bottom: 50px;
  width: 100%;
}

.login-div hr  {
  border: none;
  border-top: 3px solid red;
  margin-bottom: 50px;
  width: 50%;
}

.profile-pop hr{
  border: none;
  border-bottom: 1px solid #7F7F7F;
  /* margin-bottom: 50px; */
  width: 100%;
  margin-top: 0px;
}


.custom-loader{
  text-align: center;
  margin-top: 100px;
}